{% extends 'base.html' %}
{% load static %}

{% block body %}
<!-- main wrapper -->
<div class="main-wrapper">

<!-- Page Wrapper -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="block text-center">
          {% if status == 'Completed' %}
          <h3 class="text-center mb-3">Thank you! For your payment</h3>
          <p class="text-color">Your order has been placed and will be processed as soon as possible. Make sure you make note of your order number, which is <span class="text-primary">{{ order_data.order_id }}</span> You will be receiving an email shortly with confirmation of your order. You can now:</p>
          <a href="{% url 'home' %}" class="btn btn-primary mt-3 mx-2">Go To Shopping</a>
          <a href="#" class="btn btn-dark mt-3 mx-2">Track order</a>
       {% else %}
          <h3 class="text-center mb-3">Payment Failed</h3>

          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section><!-- /.page-warpper -->

{% endblock %}